.business__corner {
    width: 178px;
    height: 178px;
    background-color: #FFF5DB;
    border-radius: 0px 0px 100px 0px;
    transform: rotate(-180deg);
    position: absolute;
    z-index: -1;
    top: -60px;
    left: -39px;
}